<div id="chat-page" style="width: 100vw; height: 100vh">
    <div class="wrapper">

        <div class="side-bar">
            <div class="user-block">
                <img src="" class="img-circul" id="avatar">
                <div class="user-name">Name</div>
            </div>

            <div class="users">
                <h3>Участники <span>( ... )</span></h3>
                <p class="user-name">User</p>
            </div>

            <div id="profile" class="profile"></div>
            <div class="users">
                <ul class="users-list"></ul>
            </div>
        </div>

        <div class="container">
        <div class="auth-block">
            <div class="auth-block__header">
                <span class="auth-block__label">Авторизация</span>
            </div>

            <div class="auth-block__form">
                <input type="text" class="input-name" placeholder="ФИО">
                <input type="text" class="input-nik" placeholder="Ник">
                <button type="submit" class="auth-button">Войти</button>
            </div>
        </div>

        <div class="img-load" id="imgLoad">
            <div class="img-load__header">
                <span class="img-load__label">Загрузить изображение</span>
            </div>

            <div class="inputfile__form">
                {{!-- <input type="file" name="file" id="file" data-multiple-caption="{count} files selected" multiple /> --}}

                <input type="file" id="inputfile" class="inputfile">
                <label for="inputfile" class="file-label text-center">
                    <div class="label-image glyphicon glyphicon-upload"></div>
                    <div class="label-text">Загрузите изображение</div>
                </label>

                {{!-- <button type="submit" class="auth-button">Отмена</button>
                <button type="submit" class="auth-button">Загрузить</button> --}}
            </div>
        </div>

        <ul class="list-group" id="messageContainer">
        <span>message</span>
        </ul>
        {{!-- <ul id="messages"></ul>
        <form action="">
            <input id="msg" autocomplete="off" /><button>Send</button>
        </form> --}}

        <div class="message-send">
                <input type="text" id="messageText" class="message-send__input" placeholder="Введите сообщение">
                <button type="submit" id="sendButton" class="message-send__button">Отправить</button>

        </div>

        </div>

    </div>
</div>

{{!--  --}}
